.footer{
	padding: 30px 0;
	background: #fff;
	display: flex;
	align-items: center;

	.footer-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		.footer-block{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	@media screen and (min-width: 768px){
		min-height: 85px;

		.footer-inner{
			flex-direction: row;

			.footer-block{
				margin-bottom: 0;
				margin-right: 30px;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	@media screen and (min-width: 992px){
		min-height: 120px;
	}
}

.rtl{
	.footer{
		.footer-inner{
			.footer-block{
				@media screen and (min-width: 768px){
					margin-right: 0;
					margin-left: 30px;

					&:last-child{
						margin-left: 0;
					}
				}
			}
		}
	}
}