@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CalibriRegular/Calibri-Regular.ttf') format('truetype'),
		url('../fonts/CalibriRegular/Calibri-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CalibriBold/Calibri-Bold.ttf') format('truetype'),
		url('../fonts/CalibriBold/Calibri-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}