.socials-list{
	display: flex;
	list-style: none;
	align-items: center;

	li{
		margin-right: 25px;

		&:last-child{
			margin-right: 0;
		}

		a{
			color: #c4c4c4;
			font-size: 25px;

			&:hover{
				color: $primary;
			}
		}
	}
}

.rtl{
	.socials-list{
		li{
			margin-right: 0;
			margin-left: 25px;

			&:last-child{
				margin-left: 0;
			}
		}
	}
}